@import '../../variables';

.ae-export-panel {
  padding: $spacing-medium;
  background-color: $bg-color-medium;
  color: $text-color-light;

  h3 {
    margin-top: 0;
    margin-bottom: $spacing-medium;
  }

  &__info {
    margin-bottom: $spacing-medium;

    p {
      margin: 0 0 $spacing-small;
    }
  }

  &__settings {
    margin-bottom: $spacing-medium;

    > * {
      margin-bottom: $spacing-small;
    }
  }

  &__time-range {
    display: flex;
    justify-content: space-between;

    label {
      display: flex;
      flex-direction: column;
      width: 48%;

      input {
        margin-top: $spacing-small * 0.5;
        padding: $spacing-small;
        background-color: $bg-color-dark;
        border: 1px solid $border-color;
        border-radius: 3px;
        color: $text-color-light;
      }
    }
  }

  &__progress {
    margin-top: $spacing-medium;
    display: flex;
    align-items: center;

    span {
      margin-left: $spacing-small;
    }
  }

  &__status {
    margin-top: $spacing-medium;
    font-weight: bold;
  }
}