@import 'variables';
@import 'mixins';

.event-properties {
  padding: 10px;

  h3, h4, h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: $primary-color;
  }

  .property {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    input {
      width: 60px;
    }
  }

  .effect {
    margin-bottom: 10px;

    .keyframe {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      button {
        @include button-reset;
        color: $secondary-color;
        &:hover {
          color: $primary-color;
        }
      }
    }

    .add-keyframe {
      display: flex;
      gap: 5px;

      input {
        width: 60px;
      }

      button {
        @include button-reset;
        background-color: $primary-color;
        color: white;
        padding: 2px 5px;
        border-radius: 3px;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}