@import 'variables';
@import 'mixins';

.timeline-event {
  position: absolute;
  height: 30px;
  top: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  cursor: move;
  @include transition;

  &.image {
    background-color: rgba($primary-color, 0.7);
  }

  &.video {
    background-color: rgba($secondary-color, 0.7);
  }

  span {
    font-size: 12px;
    color: white;
  }

  button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    @include transition;

    &:hover {
      color: $text-color;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}